/Menus/nbproject/private/
/Menus/dist/
/Menus/build/
/Ventanas/nbproject/private/
/Ventanas/build/
/VENTANAS2/nbproject/private/
/VENTANAS2/build/
/Ventanas3/nbproject/private/
/Ventanas3/build/
/ventanas4/nbproject/private/
/ventanas4/build/
/VENTAS DE ORDENADORES/nbproject/private/
/VENTAS DE ORDENADORES/build/
/VENTAS DE ORDENADORES/dist/
/Formulario_con_BD/nbproject/private/
/Formulario_con_BD/build/
/Formulario_con_BD/dist/