/Menus/nbproject/private/
/Menus/dist/
/Menus/build/
/Ventanas/nbproject/private/
/Ventanas/build/
/VENTANAS2/nbproject/private/
/VENTANAS2/build/
/Ventanas3/nbproject/private/
/Ventanas3/build/